<%- include('includes/head') %>
<%- include('includes/nav') %>
    
<div class="container">
  <div class="row">
    <div class="cow-lg-2"></div>

    <div class="cow-lg-8 my-3">
      <h1 class="text-center">Tela de login</h1>
      <p class="text-center lead">Faça login ou crie sua conta abaixo</p>
      
      <%- include('includes/messages') %>

      <div class="row">

        <div class="col-lg">
          <h4>Faça seu cadastro</h4>
          <p>Se você ainda não tem uma conta, preencha o formulário abaixo</p>
          <form class="form-cadastro" action="/login/register" method="post">
            <div class="mb-3">
              <label>Email address</label>
              <input type="email" class="form-control"  name="email" id="InputEmail1">
            </div>
            <div class="mb-3">
              <label>Password</label>
              <input type="password" class="form-control" id="InputPassword1" name="password">
            </div>
            <button type="submit" class="btn btn-primary">Criar conta</button>
          </form>
        </div>

        <div class="col-lg">
          <h4>Entrar no sistema</h4>

          <p>Se você já tem uma conta, preencha o formulário abaixo</p>

          <form class="form-login" action="/login/login" method="post">
            <div class="mb-3">
              <label>Email address</label>
              <input type="email" class="form-control"  name="email" id="InputEmail2">
            </div>
            <div class="mb-3">
              <label>Password</label>
              <input type="password" class="form-control" id="InputPassword2" name="password">
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
          </form>
        </div>

      </div>
    <div class="cow-lg-2"></div>
  </div>
</div>

<%- include('includes/footer') %>
